# Import for formatting
black

# For parallel testing
pytest-xdist

# Imports for Chapter 02 and later
apscheduler
psutil

# Needed for pisense to make ImageDraw have textsize()
Pillow<10.0.0

# Imports for Chapter 03 and later
numpy
matplotlib
sense-emu
pisense
PyGObject

# Imports for optional parts Chapter 5
redis

# Imports for Chapter 06 and later
paho-mqtt<2.0.0

# Imports for Chapter 09 and later
CoAPthon3
aiocoap
